<div
  class="appView"
  [ngClass]="[
    isDarkmode ? 'bgDark2' : '',
    !isCountrySelected && isDarkmode ? 'h100p' : ''
  ]"
>
  <!-- Toolbar -->
  <div
    class="toolbar"
    role="banner"
    [ngClass]="isDarkmode ? 'bgDark' : 'bgLight'"
  >
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Welcome</span>
    <div class="spacer"></div>
    <div class="pr4 flex">
      <div class="pr2" *ngIf="isDarkmode">Dark Mode</div>
      <div class="pr2" *ngIf="!isDarkmode">Light Mode</div>
      <mat-slide-toggle
        [color]="'primary'"
        [checked]="isDarkmode"
        (change)="toggleDarkmode($event)"
      ></mat-slide-toggle>
    </div>
  </div>

  <div class="content" role="main">
    <!-- Highlight Card -->
    <div
      class="card highlight-card card-small"
      [ngClass]="isDarkmode ? 'bgDark' : 'bgLight'"
    >
      World Map with Major cities
    </div>
  </div>
  <div class="w100p ph4 pb2 flex flex-gap2 flex-gap1-dk">
    <div class="flex-grow flex align-items-center">
      <div
        *ngIf="isShowNote"
        class="w100p flex border-all border-charcoal italic ph2 pv1 br5 f14 justify-between showNote"
        [ngClass]="[isDarkmode ? 'text-light-grey' : 'text-charcoal']"
      >
        <div class="pa1">
          <div class="pv1">Available Functionality:</div>
          <div>1) Hover/click on the locations to get info in tooltip.</div>
          <div>
            2) Zoom in/out of the map. Click reset to load default map view.
          </div>
          <div>
            3) Select a location to load/view some more charts below the map.
          </div>
        </div>
        <mat-icon aria-hidden="false" (click)="toggleShowNote()" class="pointer"
          >expand_less</mat-icon
        >
      </div>
      <div *ngIf="!isShowNote" class="w100p flex justify-end showNote">
        <div
          class="border-all border-suva-grey text-suva-grey italic flex pointer ph2 pv1 br5 f14 h32"
          (click)="toggleShowNote()"
        >
          <div id="hiddenSteps" class="ph1 hiddenSteps">
            Available Functionality
          </div>
          <mat-icon aria-hidden="false">expand_more</mat-icon>
        </div>
      </div>
    </div>
    <div
      class="border-all pointer ph2 pv1 br5 f14 w100 h32 text-center"
      (click)="resetMap()"
      [ngClass]="
        isDarkmode
          ? 'border-light-grey text-light-grey'
          : 'border-indigo text-indigo'
      "
    >
      <div>Reset Map</div>
    </div>
  </div>
  <div class="chartsContent w100p ph4 mb2">
    <div
      class="br8 mv2 flex flex-col justify-center align-items-center overflow-h"
      [ngClass]="
        isDarkmode
          ? 'box-shadow-card-dark text-light-grey'
          : 'box-shadow-card text-black '
      "
    >
      <!-- <div class="f20-dk f18-tb f16 pv3">World Map with Major cities</div> -->
      <app-map-chart
        *ngIf="!isMapLoading"
        [isDarkmode]="isDarkmode"
        (countryClick)="countryClicked($event)"
      ></app-map-chart>
      <div
        *ngIf="isMapLoading"
        class="flex flex-grow justify-center align-items-center h500"
      >
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <!-- <div
      *ngIf="isCountrySelected"
      class="br8 mv4 pa3 flex flex-wrap justify-between"
      [ngClass]="[
        isDarkmode
          ? 'box-shadow-card-dark text-light-grey'
          : 'box-shadow-card text-black '
      ]"
    >
      <div
        class="flex flex-gap1 w30p pa3 f12 justify-between"
        *ngFor="let item of selectedCountry; index as i"
      >
        <div>
          {{ item.keyName }}
        </div>
        <div class="capitalize">
          {{ item.property }}
        </div>
      </div>
    </div> -->

    <div *ngIf="isCountrySelected" class="w100p pv2 flex justify-end toggleBtn">
      <div
        class="border-all pointer ph2 pv1 br5 f14 w100 text-center"
        (click)="toggleExpand()"
        [ngClass]="
          isDarkmode
            ? 'border-light-grey text-light-grey'
            : 'border-indigo text-indigo'
        "
      >
        <div *ngIf="!isExpand" class="flex align-items-center justify-between">
          Expand
          <mat-icon aria-hidden="false">expand_more</mat-icon>
        </div>
        <div *ngIf="isExpand" class="flex align-items-center justify-between">
          Collapse
          <mat-icon aria-hidden="false">expand_less</mat-icon>
        </div>
      </div>
    </div>

    <div
      id="displayCharts"
      *ngIf="isCountrySelected"
      class="chartRow1 flex-dk flex-tb flex-gap2 w100p pv2"
      [ngClass]="[!isExpand ? 'flex-row' : 'flex-col']"
    >
      <div
        class="flex justify-center br5"
        [ngClass]="[
          isDarkmode
            ? 'box-shadow-card-dark text-light-grey'
            : 'box-shadow-card text-black ',
          !isExpand ? 'w50p-nm' : 'w100p'
        ]"
      >
        <app-line-chart
          *ngIf="showChart"
          [data]="chartData"
          class="pa4 w100p"
        ></app-line-chart>
        <div
          *ngIf="!showChart"
          class="flex flex-grow justify-center align-items-center h350"
        >
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <div
        class="flex justify-center br5"
        [ngClass]="[
          isDarkmode
            ? 'box-shadow-card-dark text-light-grey'
            : 'box-shadow-card text-black ',
          !isExpand ? 'w50p-nm mt0-nm mt4' : 'w100p mt4'
        ]"
      >
        <app-bubble-chart
          *ngIf="showChart"
          [data]="chartData"
          class="pa4 w100p"
        ></app-bubble-chart>
        <div
          *ngIf="!showChart"
          class="flex flex-grow justify-center align-items-center h350"
        >
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <!-- <div
      *ngIf="isCountrySelected"
      class="chartRow2 flex-dk flex-tb flex-gap2 w100p pv2"
      [ngClass]="[!isExpand ? 'flex-row' : 'flex-col']"
    >
      <div
        class="flex justify-center br5"
        [ngClass]="[
          isDarkmode
            ? 'box-shadow-card-dark text-light-grey'
            : 'box-shadow-card text-black ',
          !isExpand ? 'w50p-nm' : 'w100p'
        ]"
      >
        <app-pie-chart></app-pie-chart>
      </div>
      <div
        class="flex justify-center br5"
        [ngClass]="[
          isDarkmode
            ? 'box-shadow-card-dark text-light-grey'
            : 'box-shadow-card text-black ',
          !isExpand ? 'w50p-nm mt0-nm mt4' : 'w100p mt4'
        ]"
      >
        <app-bar-chart></app-bar-chart>
      </div>
    </div> -->
    </div>
  </div>
</div>
